body {
    min-height: 100vh;
    font-family: 'Quicksand', 'Arial', 'sans serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    position: relative;
    overflow-x: hidden; 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    z-index: -1;
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#form-example {
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding: 1.8rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    gap: 1.2rem;
    background-color: white;
    box-shadow: 1px 1px 24px rgba(70, 70, 70, 0.56);
    transition: all 0.4s ease-in;
    z-index: 1;
}

#form-example:hover {
    transform: translateY(-4px);
    box-shadow: 1px 1px 24px rgba(47, 47, 47, 0.56);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-group select,
.form-group input {
    padding: 0.6rem;
    border: 1px solid #bbb;
    border-radius: 0.6rem;
}

form button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.6rem;
    background-color: #001e3d;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}
