styles.css :root {
  --primary-color: black;
  --limit-width-container: 600px;
}

/* Estilos Gerais */
body {
  background-color: #f8f9fa;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

/* Container da Pergunta dentro de cada slide */
.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
}

/* Container da escala de 0 a 10 */
.scale-container {
  width: 100%;
  max-width: var(--limit-width-container);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Estiliza os botões de rádio para parecerem botões de verdade */
.scale-container .btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

/* Estilo do botão quando selecionado */
.scale-container .btn-check:checked + .btn-outline-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* Estilo base dos botões da escala */
.scale-container .btn-outline-primary {
  border-radius: 50% !important;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  padding: 1rem 1.8rem;
  max-width: 70px;
  max-height: 70px;
  font-size: 1.8rem;
}

.scale-container .btn-outline-primary:hover {
  background-color: #e0e0e0;
}

.active-rating {
  color: white !important;
  font-weight: 600 !important;
}

/* Splide */
/* Esconde as setas de navegação padrão */
.splide__arrow {
  display: none;
}

/* Cor da paginação ativa */
.splide__pagination__page.is-active {
  background: var(--primary-color);
}

/* Rodapé com aviso de anonimato */
footer p.small {
  color: #6c757d;
}

/* Responsividade para notebooks */
@media (max-width: 1200px) {
  :root {
    --limit-width-container: 900px;
  }

  .scale-container .btn-group {
    gap: 7px;
  }

  .scale-container .btn-outline-primary {
    padding: 0.9rem 1.6rem;
    max-width: 65px;
    max-height: 65px;
    font-size: 1.6rem;
  }
}

/* Responsividade para tablets */
@media (max-width: 993px) {
  :root {
    --limit-width-container: 600px;
  }

  .scale-container .btn-group {
    gap: 6px;
  }

  .scale-container .btn-outline-primary {
    padding: 0.8rem 1.5rem;
    max-width: 60px;
    max-height: 60px;
    font-size: 1.5rem;
  }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
  .scale-container .btn-group {
    gap: 4px;
  }

  .scale-container .btn-outline-primary {
    padding: 0.6rem 1.2rem;
    max-width: 50px;
    max-height: 50px;
    font-size: 1.2rem;
  }
}

.min-h-100 {
  min-height: 100vh;
}